<select id='school'>
  <option value="">--Please Select School--</option>
  <option value="unknown">-- Unknown --</option>
  <option value="Alps View High School">Alps View High School-</option>
  <option value="Burnt Ranch Elementary">Burnt Ranch Elementary</option>
  <option value="Coffee Creek Elementary">Coffee Creek Elementary</option>
  <option value="Douglas City Elementary">Douglas City Elementary</option>
  <option value="East Weaver">East Weaver</option>
  <option value="Hayfork Elementary">Hayfork Elementary</option>
  <option value="Hayfork High School">East Weaver</option>
  <option value="Haoglin-Zenia Elementary">Haoglin-Zenia Elementary</option>
  <option value="Junction City Elementary">Junction City Elementary</option>
  <option value="Lewiston Elementary">Lewiston Elementary</option>
  <option value="RISE Academy">RISE Academy</option>
  <option value="Southern Trinity High School">Southern Trinity High School</option>
  <option value="Trinity Center Elementary">Trinity Center Elementary</option>
  <option value="Trinity High School">Trinity High School</option>
  <option value="Valley High School">Valley High School</option>
  <option value="Van Duzen Elementary">Van Duzen Elementary</option>
  <option value="Weaverville Elementary">Weaverville Elementary</option>
</select>