#banner {
  background: linear-gradient(rgba(150, 200, 150, .5), rgba(0, 0, 0, .5));
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

#banner p {
  color: white;
  margin-top: 32px;
  width: 256px;
  text-align: left;
}

#bg_img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  top: 0;
  filter: brightness(50%);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#login,#report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

#btn_row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  min-width: 256px;
}

.entry:nth-child(odd) {
  background-color: lightgrey;
}

.feedback {
  color: red;
  font-weight: bold;
}

.field {
  flex: 2;
}

.field_small {
  flex: 1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color:  #3c8500;
  color: white;
}

h1 {
  color: white;
  text-align: center;
  font-weight: normal;
  margin-top: 5vh;
  font-size: clamp(20pt, 4vw, 40pt);
  line-height: clamp(32pt, 5vw, 64pt);
}

hr {
  border: 1px solid white;
  width: 100%;
  margin-top: 32px;
}

.header {
  flex: 2;
  font-weight: bold;
}

#headers {
  border-bottom: 2px solid lightgrey;
}

.header_small {
  flex: 1;
}

input, select {
  font-family: sans-serif;
  font-size: 12pt;
  padding: 8px;
}

label {
  margin-top: 32px;
  font-size: 12pt;
  color: white;
}

label[for='school'] {
  margin-top: 64px;
}

#login_btn {
  border-radius: 16px;
  background-color: rgb(29, 167, 58);
  color: white;
  border-width: 0;
  margin-top: 32px;
}

#login_btn:hover {
  cursor: pointer;
}

#login_form {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 20vw;
  min-width: 256px;
}

.login_input {
  background: none;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  margin-top: 32px;
}

.login_input::placeholder {
  color: lightgray;
}

.login_input:focus {
  outline: none;
}

#login_redirect {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#login_redirect a {
  text-decoration: none;
  color: white;
  background-color: green;
  padding: 16px;
  border-radius: 5px;
}

#logo {
  width: 256px;
  height: 256px;
  border-radius: 15px;
}

#logout {
  background-color: #00c23a;
  border: none;
  border-radius: 5px;
  padding: 8px;
}

nav {
  width: 100%;  
}

nav div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

nav #info {
  flex: 1;
  height: 96px;
  background-color: #3c8500;
  padding-right: 32px;
}

nav #info a,button,span {
  margin-right: 8px;
  color: white;
  text-decoration: none;
}

#nav_logo {
  height: 80px;
  width: auto;
}

nav #tabs {
  height: 48px;
  background-color: grey;
}

nav #topBar {
  display: flex;
  align-items: center;
}

#report,#login p {
  text-align: center;
  color: white;
}

#report_form {
  display: flex;
  flex-direction: column;
  border: 4px solid white;
  padding: 32px;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.row {
  display: flex;
  align-items: center;
  height: 48px;
}

#school {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#submit_btn {
  width: 40%;
  background-color: rgb(0, 100, 200);
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 32px;
}

#submit_btn:hover {
  cursor: pointer;
}

.tab {
  background-color: #3c8500;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 64px;
}

.tab span {
  margin: 0;
  padding: 0px 8px;
}

#tcoe_logo {
  width: 256px;
  height: auto;
}